@font-face {
  font-family: futura;
  src: url(./FuturaBook.woff);
}
@font-face {
  font-family: spacegroteskbold;
  src: url(./SpaceGrotesk-Bold.woff);
}

@font-face{
  font-family: savate;
  src: url(./savate-regular-webfont.woff);
}

@font-face{
  font-family: spacegroteskregular;
  src:url(SpaceGrotesk-Regular.woff);
}

@keyframes blink {
  	0% {background-color: lightblue;}
  	25%{background-color: crimson;}
  	50%{background-color:chartreuse;}
  	75%{background-color: yellow;}
  	100%{background-color: magenta;}

}
#contents{
  color: purple;
  background-color: green;
}
a:link{
  color: green;
  background-color: purple;
}

a:visited{
  color: green;
}
h1{
  font-size: 62pt;
  font-family: futura;
  position:absolute;
  mix-blend-mode:color-burn;
  right: 300px;
  top: 300px;
  color: purple;
  text-shadow: 0px,0px,8px,green;

}
h2{
  font-size: 24pt;
  font-family: futura;
  text-align: center;
  color: purple;
  background-color: green;

}
h2:hover{
  color: green;
  background-color: purple;
}
h3{
  color: purple;
  background-color: green;
}

h3:hover{
  color: green;
  background-color: purple;
}
h4{
color: green;
background-color: purple;

}

h4:hover{
  color: purple;
  background-color: green;

}

h5{
  color: purple;
  background-color: green;
}
h5:hover{
  color: green;
  background-color: purple;
}
h6{
  color: green;
  background-color: purple;
}

h6:hover{
  color: purple;
  background-color: green;
}
p{
  font-size: 12pt;
  font-family: futura;
  color: darkgrey;
}

blockquote{
  font-family: savate;
  font-size: 15pt;
  color: green;
   background-color: purple;
  mix-blend-mode: color-dodge;
}

figure{
  height: 25%;
  width: 25%;
}

figcaption{
  color: pink;
}
figure:hover{
  animation-name: blink;
  animation-duration: 4s;
  animation-iteration-count: infinite;

}
#fuller1972{
  position: absolute;
  mix-blend-mode: difference;
  left: 137px;
  top: 10px;


}


#sphere{
display: block;
margin-left: auto;
margin-right: auto;
}

#fuller1910{
  position: absolute;
  mix-blend-mode: difference;
  right: 5px;
  top: 5px;
  height: 550px;
  width: 450px;
}
#bio{
  font-size: 15pt;
  color: lavender;
  text-align: center;
}

#stats{
  text-align: right;
  color: pink;


}


html{
  background-image: linear-gradient(to top left, purple, green);
  background-attachment: fixed;
  font-family: futura;

}
img{
  height: 125%;
  width: 125%;
  right: auto;

}


h1:hover{
animation-name: blink;
animation-duration: 4s;
animation-iteration-count: infinite;
}
#bio:hover{
animation-name: blink;
animation-duration: 4s;
animation-iteration-count: infinite;
}
