@font-face {
  font-family: baskerville;
  src: url(./LibreBaskerville-Regular.woff);
}
/* effect adapted from https://www.w3schools.com/howto/howto_css_glowing_text.asp */
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #f9aa2b, 0 0 40px #f9aa2b, 0 0 50px #f9aa2b, 0 0 60px #f9aa2b, 0 0 70px #f9aa2b;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #dd7c07, 0 0 40px #dd7c07, 0 0 50px #dd7c07, 0 0 60px #dd7c07, 0 0 70px #dd7c07, 0 0 80px #dd7c07;
  }
}

html{
  background-color: #D87721;
}
h1{
  font-size: 50pt;
  text-align: center;
  font-family: baskerville;
  color: brown;
animation: glow 1s ease-in-out infinite alternate;
}



img{
  filter: grayscale(50%);
  height: 100vh;
  width: auto;
    margin: 15px;
  object-fit: cover;
}

/* .home{
  position: fixed;
  z-index: 200;
  left: 400px;
  top: 500px;
  object-fit: cover; */


.container{
  height: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 816px
  padding: 20px;
  margin: 20px;
  justify-content: center;

}

 @media (max-width:500px) {
.container{
    display: flex;
    flex-direction: column;
  }

  .home{
    display: none;
  }
