@font-face {
  font-family: baskerville;
  src: url(./LibreBaskerville-Regular.woff);
}
@keyframes glow {

  0%{ text-shadow:1px,1px,brown;}
  46%{text-shadow: 2px,2px,brown;}
  67%{text-shadow: 3px,3px,brown;}
  100%{text-shadow: 2px,2px,brown;}
}

html{
  background-color: #D87721;
}
h1{
  font-size: 50pt;
  text-align: center;
  font-family: baskerville;
  color: brown;
  animation-name: glow;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}



img{
  filter: grayscale(50%);
  height: 100vh;
  width: auto;
    margin: 15px;
  object-fit: cover;
}

/* .home{

  position: fixed;
  z-index: 200;
  left: 400px;
  top: 500px;
  object-fit: cover; */


.container{
  height: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 816px
  padding: 20px;
  margin: 20px;
  justify-content: center;

}

 @media (max-width:500px) {
.container{
    display: flex;
    flex-direction: column;
  }

  .home{
    display: none;
  }
