@font-face {
  font-family: newsreader;
  src: url(./newsreader_6ptregular.woff);
}

@font-face {
  font-family: librebaskerville;
  src:url(./LibreBaskerville-Regular.woff);
}
@keyframes white {
  0%{color: #192029;}
  50%{color: #192029;}
  100%{color: white;}
}

@keyframes shadow {
  0%{box-shadow: 0 0 0px;}
  50%{box-shadow: 0 0 50px;}
  100%{box-shadow: 0 0 100px;}
}



}

h1{
  font-size: 45pt;
}
html{
  background-image:linear-gradient(#06121D,#0D283D ) ;
  font-family: librebaskerville;


}

#text:hover{
  background-color:grey;

}



p{
  position: fixed;
  top: 50px;
  max-width: 400px;
  z-index: 300;

}

#body{
  background-color: white;


}


.blobs{

  z-index: -20;
}
#start{
  /* position: absolute; */
  color: #192029;
  animation-name: start;
  animation-duration: 4s;
  animation-iteration-count: 1;


}



#start{
  /* position: absolute; */
animation-name: white;
animation-duration: 5s;
animation-iteration-count: infinite;}


}


 .blob{
   animation-name: shadow;
   animation-duration: 7s;
  animation-timing-function: ease-in-out;
   animation-iteration-count: infinite;

  width: 500px;
  height: 500px;
  background-color: #03080E;
  background-size: cover;
  border-radius: 36% 64% 56% 44% / 67% 35% 65% 33%;
  position: fixed;
  left: 5px;
  top: 50px;
  z-index: -200;

}

.blob2{
  animation-name: shadow;
  animation-duration: 7s;
 animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 3s;
  width: 400px;
  height: 400px;
  background-color: #03080E;
  background-size: cover;
  border-radius: 36% 64% 56% 44% / 67% 35% 65% 33%;
  position: fixed;
  left: 550px;
  top: -20px;
  z-index: -200;


}



.blob3{

  animation-name: shadow;
  animation-duration: 7s;
 animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  width: 400px;
  height: 500px;
  background-color: #03080E;
  background-size: cover;
  border-radius: 36% 64% 56% 44% / 67% 35% 65% 33%;
  position: fixed;
  left: -40px;
  top: 600px;
z-index: -200;

}

.blob4{
  animation-name: shadow;
  animation-duration: 7s;
 animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  width: 400px;
  height: 400px;
  background-color: #03080E;
  background-size: cover;
  border-radius: 36% 64% 56% 44% / 67% 35% 65% 33%;
  position: fixed;
  left: 400px;
  top: 400px;
z-index: -200;

}

.blob5{
  animation-name: shadow;
  animation-duration: 7s;
 animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  width: 200px;
  height: 675px;
  background-color: #03080E;
  background-size: cover;
  border-radius: 36% 64% 56% 44% / 67% 35% 65% 33%;
  position: fixed;
  left: 800px;
  top: 350px;
z-index: -200;

}

.blob6{
  width: 400px;
  height: 400px;
  background-color: #03080E;
  background-size: cover;
  border-radius: 36% 64% 56% 44% / 67% 35% 65% 33%;
  position: fixed;
  left: 1500px;
  top: 100px;
z-index: -200;

}


.blob7{
  width: 575px;
  height: 575px;
  background-color: #03080E;
  background-size: cover;
  border-radius: 36% 64% 56% 44% / 67% 35% 65% 33%;
  position: absolute;
  left: 3100px;
  top: 700px;

z-index: -200;
}


.blob8{
  width: 575px;
  height: 575px;
  background-color: #03080E;
  background-size: cover;
  border-radius: 36% 64% 56% 44% / 67% 35% 65% 33%;
  position: absolute;
  left: 2700px;
  top: 200px;
z-index: -200;

}



.blob9{
  width: 700px;
  height: 575px;
  background-color: #03080E;
  background-size: cover;
  border-radius: 36% 64% 56% 44% / 67% 35% 65% 33%;
  position: absolute;
  left: 3300px;
  top: 100px;
z-index: -200;

}


.blob10{
  width: 300px;
  height: 800px;
  background-color: #03080E;
  background-size: cover;
  border-radius: 36% 64% 56% 44% / 67% 35% 65% 33%;
  position: absolute;
  left: 4100px;
  top: 0px;
z-index: -200;

}




/* .blob:hover {
  box-shadow: 0 0 100px;
} */
.blob2:hover {
  box-shadow: 0 0 100px;
}.blob3:hover {
  box-shadow: 0 0 100px;
}.blob4:hover {
  box-shadow: 0 0 100px;
}.blob5:hover {
  box-shadow: 0 0 100px;
}
.blob6:hover {
  box-shadow: 0 0 100px;
}.blob7:hover {
  box-shadow: 0 0 100px;
}.blob8:hover {
  box-shadow: 0 0 100px;
}.blob9:hover {
  box-shadow: 0 0 100px;
}.blob10:hover {
  box-shadow: 0 0 100px;
}

@media only screen and (max-width:767px) {
  html{
    font-size: 14pt;

  }
  .blobs
  {width: 45%;
  height: 45%}
  @keyframes mobile {
    0%{box-shadow: 0 0 0px;}
    50%{box-shadow: 0 0 50px;}
    100%{box-shadow: 0 0 100px;}
  }

}
