@font-face {
  font-family: newsreader;
  src: url(./newsreader_6ptregular.woff);
}

@font-face {
  font-family: librebaskerville;
  src:url(./LibreBaskerville-Regular.woff);
}
@keyframes white {
  0%{color: #192029;}
  50%{color: #192029;}
  100%{color: white;}
}

@keyframes shadow {
  0%{box-shadow: 0 0 25px;}
  50%{box-shadow: 0 0 100px;}
  100%{box-shadow: 0 0 25px;}
}
@glow{
  0%{box-shadow: 0 0 25px;}
  50%{box-shadow: 0 0 100px;}
  100%{box-shadow: 0 0 25px;}
}

h1{
  display: inline-block;
  font-size: 45pt;
  text-align: right;
  position: fixed;
  z-index: 0;
  right: 10px;
  top: 10px;

}

h1:hover{
  box-shadow: 0 0 50px;
  color: rgba(161,189,211,0.2);
  padding: 5px;
}
h2:hover{
  box-shadow: 0 0 50px;
  color: rgba(161,189,211,0.2);
  padding: 5px;
}

h2{
  display: inline-block;
  font-size: 24pt;
  text-align: right;
  position: fixed;
  z-index: 0;
  right: 175px;
  top: 80px;
}
html{
  background-image:linear-gradient(#06121D,#0D283D ) ;
  font-family: librebaskerville;
}

a{
  color: #06121D;
  text-decoration: underline;
}
.nav1{
  width: 100px;
  height: 100px;
  background-color: #0D283D;
  border-radius: 36% 64% 56% 44% / 67% 35% 65% 33%;
  position: fixed;
  z-index: 200;
  right: 90px;
  top: 140px;
  display: flex;
  justify-content: center;
  align-items: center;



}


.nav2{
  width: 100px;
  height: 100px;
  background-color: #0D283D;
  border-radius: 36% 64% 56% 44% / 67% 35% 65% 33%;
  position: fixed;
  z-index: 200;
  right: 90px;
top: 255px;
display: flex;
justify-content: center;
align-items: center;

}
.nav3{
  width: 100px;
  height: 100px;
  background-color: #0D283D;
  border-radius: 36% 64% 56% 44% / 67% 35% 65% 33%;
  position: fixed;
  z-index: 200;
  right: 90px;
  top: 370px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.nav4{
  width: 100px;
  height: 100px;
  background-color: #0D283D;
  border-radius: 36% 64% 56% 44% / 67% 35% 65% 33%;
  position: fixed;
  z-index: 200;
  right: 90px;
  top: 485px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.nav5{
  width: 100px;
  height: 100px;
  background-color: #0D283D;
  border-radius: 36% 64% 56% 44% / 67% 35% 65% 33%;
  position: fixed;
  z-index: 200;
  right: 90px;
  top: 600px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.blob{
  animation-name: shadow;
  animation-duration: 7s;
 animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;

 width: 500px;
 height: 500px;
 background-color: #03080E;
 background-size: cover;
 border-radius: 36% 64% 56% 44% / 67% 35% 65% 33%;
 position: fixed;
 left: 5px;
 top: 50px;
 z-index: -200;

}




.blob2{
  animation-name: shadow;
  animation-duration: 7s;
 animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 3s;
  width: 400px;
  height: 400px;
  background-color: #03080E;
  background-size: cover;
  border-radius: 36% 64% 56% 44% / 67% 35% 65% 33%;
  position: fixed;
  left: 550px;
  top: -20px;
  z-index: -200;


}



.blob3{

  animation-name: shadow;
  animation-duration: 7s;
 animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 6s;
  width: 400px;
  height: 500px;
  background-color: #03080E;
  background-size: cover;
  border-radius: 36% 64% 56% 44% / 67% 35% 65% 33%;
  position: fixed;
  left: -40px;
  top: 600px;
z-index: -200;

}

.blob4{
  animation-name: shadow;
  animation-duration: 7s;
 animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  width: 400px;
  height: 400px;
  background-color: #03080E;
  background-size: cover;
  border-radius: 36% 64% 56% 44% / 67% 35% 65% 33%;
  position: fixed;
  left: 400px;
  top: 400px;
z-index: -200;

}

.blob5{
  animation-name: shadow;
  animation-duration: 7s;
 animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 5s;
  width: 200px;
  height: 675px;
  background-color: #03080E;
  background-size: cover;
  border-radius: 36% 64% 56% 44% / 67% 35% 65% 33%;
  position: fixed;
  left: 800px;
  top: 350px;
z-index: -200;

}

.blob6{
  animation-name: shadow;
  animation-duration: 7s;
 animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  width: 400px;
  height: 400px;
  background-color: #03080E;
  background-size: cover;
  border-radius: 36% 64% 56% 44% / 67% 35% 65% 33%;
  position: fixed;
  left: 950px;
  top: 60px;
z-index: -200;
}

.blob7{
  animation-name: shadow;
  animation-duration: 7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  width: 575px;
  height: 575px;
  background-color: #03080E;
  background-size: cover;
  border-radius: 36% 64% 56% 44% / 67% 35% 65% 33%;
  position: fixed;
  left: 1000px;
  top: 475px;
  z-index: -200;
}


p{
  position: fixed;
  padding-top: 50px;
  max-width: 50%;
  z-index: 300;



}

#p1{
  padding-bottom: 25px;

}
#p2{
  padding-bottom: 25px;
}
#p3{
  padding-bottom: 25px;
}
#p4{
  padding-bottom: 25px;
}
#p5{
  padding-bottom: 25px;
}
#p6{
  padding-bottom: 25px;
}
#p7{
  padding-bottom: 25px;
}
#p8{
  padding-bottom: 25px;
}
#p9{
  padding-bottom: 25px;
}
#p10{
  padding-bottom: 25px;
}


#text{
  max-width:80vw;
  margin: 25px;
  padding: 10px;
  line-height: 1.5;
  letter-spacing:0.8pt;
  margin-top: 100px;

}

#quote{

  display: inline-block;
  color: rgba(161,189,211,0.5);
  mix-blend-mode: screen;
}
#p1:hover{
  background-color: rgba(161,189,211,0.2);
  max-width: 100vw;
  mix-blend-mode: screen;


}
#p2:hover{
  background-color: rgba(161,189,211,0.2);
  max-width: 100vw;
  mix-blend-mode: screen;

}
#p3:hover{
  background-color: rgba(161,189,211,0.2);
  max-width: 100vw;
  mix-blend-mode: screen;

}
#p4:hover{
  background-color: rgba(161,189,211,0.2);
  max-width: 100vw;
  mix-blend-mode: screen;

}
#p5:hover{
  background-color: rgba(161,189,211,0.2);
  max-width: 100vw;
  mix-blend-mode: screen;

}
#p6:hover{
  background-color: rgba(161,189,211,0.2);
  max-width: 100vw;
  mix-blend-mode: screen;

}
#p7:hover{
  background-color: rgba(161,189,211,0.2);
  max-width: 100vw;
  mix-blend-mode: screen;

}#p8:hover{
  background-color: rgba(161,189,211,0.2);
  max-width: 100vw;
  mix-blend-mode: screen;

}#p9:hover{
  background-color: rgba(161,189,211,0.2);
  max-width: 100vw;
  mix-blend-mode: screen;

}#p10:hover{
  background-color: rgba(161,189,211,0.2);
  max-width: 100vw;
  mix-blend-mode: screen;

}



#start{
display: inline-block;
animation-name: white;
animation-duration: 5s;
animation-iteration-count: infinite;

}



@media only screen and (max-width:1180px){
.nav{
  display: none;
}

@media only screen and (max-width:676px){
#text div{
  background-color: #0D283D;
  opacity: 50%;
  color: white;




}
#p1{
  padding-top: 175px;
}
#start{
  animation-name: white;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}


.nav{
  display: none;
}
p{
  position: fixed;
  margin-top: 1000px;
  max-width: 50%;
  z-index: 300;
}
h1{
  font-size: 45pt;
  max-width: 90vw;
  color: white;
  mix-blend-mode: screen;
  position: absolute;
  text-align: right;
  right: auto;
  top: 5px;
  z-index: 0;
  padding-right: 0px;

}
h2 {
  font-size: 24pt;
  max-width: 90vw;
  text-align: left;
color: white;
mix-blend-mode: color;
  position: absolute;
  left: auto;
  top: 175px;
  z-index: 0;
  padding-left: 10px;


}
}
