@font-face {
  font-family: lushus;
  src: url(./lushus.ttf);
}

@font-face{
  font-family: accent;
  src: url(./accent.ttf);
}

@keyframes true {
  0%{color: black;}
  50%{color: white;}
  100%{color: black;}
}

@keyframes lie {
  0%{color: white;}
  50%{color: black;}
  100%{color: white;}
}

.container{
  height: auto;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;

}

#true{
  color: white;
  font-size: 10vw;
  min-width: 32.8vw;
  min-height: 50vh;
  background-color: pink;
  border: solid black;
  font-family: lushus;
  animation-name: true;
  animation-duration:2s;
  animation-iteration-count: infinite;
  display: flex;
    justify-content: center;
    align-items: center;
  animation-timing-function: steps(1,end);

}

#lie{
  color: black;
  font-size: 10vw;
  min-height: 50vh;
  min-width: 32.8vw;
  background-color: purple;
  border: solid black;
  font-family: accent;
  display: flex;
    justify-content: center;
    align-items: center;
  animation-name: lie;
  animation-duration:2s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1,end);

}
